.App {
  /* background: linear-gradient(90deg, rgba(236,241,235,1) 0%, rgba(201,226,228,1) 35%, rgba(214,211,231,1) 100%); */
  background-image: url('./static//images//assets/bg.png');
  background-size: cover;
  min-height: 100vh;
  overflow: auto;
}
